.form {
  background-image: url("../img/efvij.png");
  background-position: center center;
  background-size: cover;
}
.form .form-header h2 {
  text-align: center;
  color: #0F110F;
  font-family: "Lexend Deca", Sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: -0.3px;
}
.form .form-header p {
  text-align: center;
  color: #666666;
  font-family: "Lexend Deca", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.9em;
  width: 45%;
  margin: auto;
}
.form .form-section img {
  border-radius: 10px;
  height: auto;
  width: 75%;
  margin-left: auto;
}
.form .form-section form {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 40px 40px 40px 40px;
}
.form .form-section form h3 {
  color: #1A1A1A;
  font-family: "Lexend Deca", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: none;
  line-height: 1.25em;
  letter-spacing: 0px;
}
.form .form-section form input,
.form .form-section form textarea {
  width: 100%;
  padding: 1rem 22px;
  font-size: 16px;
  letter-spacing: -0.011em;
  border-radius: 8px;
  line-height: 1.23536;
  font-weight: 400;
  text-overflow: ellipsis;
  border: 1px solid #e4e5e7;
  margin-bottom: 16px;
}
.form .form-section form span a {
  color: #fff;
  min-width: 3.25rem;
  padding: 13px 55px;
  text-align: center;
  border-radius: 8px;
  font-weight: 500;
  text-shadow: none !important;
  line-height: 22px;
  transition: all 0.45s;
  background: #6664e4;
  box-shadow: unset;
  border: none;
}

.faq .faq-header h2 {
  text-align: left;
  color: #0F110F;
  font-family: "Lexend Deca", Sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: -0.3px;
  width: 85%;
}
.faq .faq-header p {
  text-align: left;
  color: #666666;
  font-family: "Lexend Deca", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.9em;
  width: 85%;
}
.faq .accordion .accordion-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 0px;
}
.faq .accordion .accordion-item button {
  font-family: "Lexend Deca", Sans-serif;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.5em;
  background-color: transparent;
}
.faq .accordion .accordion-item .accordion-button:focus {
  color: #2CBCA5;
  border-color: transparent;
  box-shadow: none;
}
.faq .accordion .accordion-item .accordion-button:not(.collapsed) {
  color: #2CBCA5;
  background-color: transparent;
  box-shadow: none;
}
.faq .accordion .accordion-item .accordion-body p {
  border-bottom-color: rgba(73, 109, 93, 0.1215686275);
  color: rgba(35, 35, 35, 0.7882352941);
  font-family: "Lexend Deca", Sans-serif;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 1199px) {
  .form .form-header h2 {
    font-size: 40px;
  }
  .form .form-section img {
    width: 75%;
    margin: auto;
  }
  .faq .faq-header h2 {
    font-size: 40px;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  .faq .faq-header p {
    text-align: center;
    margin: auto;
    width: 90%;
  }
}
@media (max-width: 991px) {
  .faq .faq-header p {
    width: 100%;
  }
  .form .form-header p {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .faq .faq-header h2 {
    font-size: 32px;
  }
  .faq .faq-header p {
    font-size: 16px;
  }
  .form .form-header p {
    font-size: 16px;
    width: 100%;
  }
}/*# sourceMappingURL=contact.css.map */