@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Regular.woff2') format('woff2'),
        url('../fonts/Lexend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Bold.woff2') format('woff2'),
        url('../fonts/Lexend-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Medium.woff2') format('woff2'),
        url('../fonts/Lexend-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Light.woff2') format('woff2'),
        url('../fonts/Lexend-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-ExtraBold.woff2') format('woff2'),
        url('../fonts/Lexend-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-ExtraLight.woff2') format('woff2'),
        url('../fonts/Lexend-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Black.woff2') format('woff2'),
        url('../fonts/Lexend-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-SemiBold.woff2') format('woff2'),
        url('../fonts/Lexend-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Regular.woff2') format('woff2'),
        url('../fonts/Lexend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../fonts/Lexend-Thin.woff2') format('woff2'),
        url('../fonts/Lexend-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
        url('../fonts/LexendDeca-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-ExtraBold.woff2') format('woff2'),
        url('../fonts/LexendDeca-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-SemiBold.woff2') format('woff2'),
        url('../fonts/LexendDeca-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Regular.woff2') format('woff2'),
        url('../fonts/LexendDeca-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Bold.woff2') format('woff2'),
        url('../fonts/LexendDeca-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-ExtraLight.woff2') format('woff2'),
        url('../fonts/LexendDeca-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Thin.woff2') format('woff2'),
        url('../fonts/LexendDeca-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Black.woff2') format('woff2'),
        url('../fonts/LexendDeca-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Medium.woff2') format('woff2'),
        url('../fonts/LexendDeca-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend Deca';
    src: url('../fonts/LexendDeca-Light.woff2') format('woff2'),
        url('../fonts/LexendDeca-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

